body {
    font-family: 'Oswald', sans-serif;
  }
  
/******************************************************************HEADER*****************************************************************/
header a {
    color: black;
    margin-left: 50px;
}
#menu-icon {
    width: 32px;
}
#logo-text {
    font-size: 32px;
}

li a {
    color: rgb(138, 138, 138);
}
/******************************************************************HERO SECTION*****************************************************************/

#hero-section {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 1024px;
    background-position: center
}

#h2-text {
    background-color: rgb(29, 207, 148);
}

/******************************************************************INTRO SECTION*****************************************************************/


/******************************************************************WORK SECTION*****************************************************************/

/******************************************************************CONTACT INFO SECTION*****************************************************************/

#contact-info-section {
    background-color: rgb(65, 63, 56);
    color: white;
}

/******************************************************************FOOTER*****************************************************************/


footer {
    background-color: rgba(14, 7, 7, 0.883);
    color: white;
}
